.container {
  padding: 40px 20px;
  min-height: 100%;
  background-color: ghostwhite;
  mat-card {
    height: 120px;
    width: 180px;
    mat-card-content {
      font-size: 16px;
    }
  }
  header,
  mat-card-header {
    text-align: center;
  }

  header > h2 {
    color: grey;
    margin: 30px 0px 50px;
  }
}
