<div class="container">
  <header>
    <h1>Contact Us</h1>
    <h2>We would love to hear from you</h2>
  </header>
  <div
    class="contacts"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap.lt-md="20px"
    fxLayoutAlign="space-evenly center"
  >
    <mat-card>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <div class="header">
          <mat-icon>smartphone</mat-icon>
          <br />
          <mat-divider></mat-divider>
        </div>
        <div class="label">Call us at</div>
        <div class="content">+91-7974591687</div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <div class="header">
          <mat-icon>location_on</mat-icon>
          <br />
          <mat-divider></mat-divider>
        </div>
        <div class="label">Reach us at</div>
        <div class="content">Address</div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <div class="header">
          <mat-icon>email</mat-icon>
          <br />
          <mat-divider></mat-divider>
        </div>
        <div class="label">Email us at</div>
        <div class="content">rajat.dhoot.dev@gmail.com</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
