@import "styles";

.container {
  @include container();
  .header {
    @include header();
  }
  mat-card {
    height: 120px;
    width: 180px;
    margin: 50px;
    mat-card-header {
      text-align: center;
    }
    mat-card-content {
      font-size: 16px;
    }
  }
}
