$font-stack: "Comic Sans MS", cursive, "Source Sans Pro", Helvetica, Arial,
  sans-serif;

/* Colours */
$bgColor: ghostwhite;
$primaryColor: #333;
$subtitleColor: #555;
$mediumgrey: #999;
$lightgrey: #ccc;
$secondaryColor: #256eb3;
$navbarColor: #fc6a76fd;
$baseColor: white;
$hoverColor: whitesmoke;

$buttonShadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);
