/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables";
@import "./mixins";

body {
  font-family: $font-stack;
  font-size: calc(16px + 0.3vw);
  line-height: calc(20px + 0.8vw);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(20px + 1.5vw);
  line-height: calc(24px + 1.5vw);
}

h2 {
  font-size: 1.2em;
  line-height: 1.5em;
}

h1,
h2 {
  font-weight: bold;
}

h1,
h2,
p {
  margin: 15px 0;
}

// scrollbar styling
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
