<form class="container" fxLayout="column" fxLayoutGap="15px" #myForm="ngForm">
  <div fxFlex style="color:#333;" class="header">Colour</div>
  <div fxLayout="row wrap" fxLayoutGap="10px" class="selectColor">
    <mat-form-field fxFlex="0 0 80%">
      <input
        matInput
        type="color"
        placeholder="Font-Color"
        name="fontColor"
        [(ngModel)]="designModel.fColor"
      />
    </mat-form-field>
    <mat-form-field fxFlex="0 0 80%">
      <input
        matInput
        type="color"
        name="backgroundColor"
        placeholder="Background-Color"
        [(ngModel)]="designModel.bColor"
      />
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>

  <div fxFlex style="color:#333;" class="header">Border</div>
  <div fxFlex style="color:#666;">Pattern</div>
  <div fxLayout="row wrap" fxLayoutGap="14px">
    <div
      class="outerbox"
      flex="none"
      matRipple
      matRippleColor="rgba(0, 0, 0, 0.06)"
      *ngFor="let color of colors | keyvalue"
      [class.isSelected]="designModel.borderNum === color.key"
      (click)="selectBorder(color.key)"
    >
      <img class="innerbox" [src]="color.value" />
    </div>
  </div>
  <br />
  <div fxFlex style="color:#666;">Style</div>
  <mat-radio-group
    fxLayout="row"
    fxLayoutGap="15px"
    color="primary"
    name="borderStyle"
    [(ngModel)]="designModel.borderStyle"
  >
    <mat-radio-button id="round" value="round">Round</mat-radio-button>
    <mat-radio-button id="stretch" value="stretch">Stretch</mat-radio-button>
  </mat-radio-group>
  <br />
  <mat-divider></mat-divider>

  <div fxFlex style="color:#333;" class="header">Preview</div>
  <div fxFlex>
    <div
      class="demo"
      [ngStyle]="borderStyles"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      Font
    </div>
  </div>
</form>
