@import "styles";

#mainToolbar {
  background: $navbarColor;
  color: white;
  #toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
    margin-left: 5px;
  }
}

#sidenavContainer {
  margin-top: 56px;
  #sideNav {
    transition: all 0.3s ease;
    .menu-item:hover {
      background: #ccc;
    }
  }

  mat-nav-list {
    box-sizing: border-box;
    padding-top: 0;
    overflow: hidden;
    mat-icon {
      margin-left: 5px;
      color: $subtitleColor;
    }
    span {
      font-size: 17px;
      color: $primaryColor;
    }
    .nav-label {
      visibility: hidden;
      @include transition(all 0s ease);
    }
    .active {
      background-color: #ccc;
    }
  }
}
