<div class="container">
  <mat-horizontal-stepper (selectionChange)="switchSection($event)">
    <mat-step>
      <ng-template matStepLabel><span class="label">Design</span></ng-template>
      <router-outlet *ngIf="currentSection === 1"></router-outlet>
      <div>
        <button mat-raised-button matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel
        ><span class="label">Add Details</span></ng-template
      >
      <router-outlet *ngIf="currentSection === 2"></router-outlet>
      <div style="text-align: center;">
        <button mat-raised-button matStepperNext>Create</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
