@import "styles";

.container {
  @include container();
  .header {
    @include header();
  }

  .visual {
    padding: 50px 0px 40px;
    width: 100%;
    img {
      width: 150px;
    }
    hr {
      width: 100px;
      border: 1px solid;
      color: #555;
    }
    .vertical {
      border: 1px solid #555;
      height: 75px;
    }
    button {
      font-size: 20px;
      padding: 10px 20px;
      @include transition(0.4s);
      @include stroked-button($secondaryColor, $secondaryColor);
    }
  }
}
