<section fxLayout="column" fxLayoutAlign="center center" class="container">
  <section class="header"><h1>Create simple biodata</h1></section>
  <section
    class="visual"
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
  >
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
      <img src="assets/create.png" />
      <span>Add Details</span>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlexAlign="center"
      fxLayout.xs="column"
    >
      <hr fxHide.xs />
      <p class="vertical" fxHide.gt-xs></p>
      <button mat-stroked-button routerLink="/create">Create</button>
      <p class="vertical" fxHide.gt-xs></p>
      <hr fxHide.xs />
    </div>

    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
      <img src="assets/biodata.png" />
      <span>Download</span>
    </div>
  </section>
  <section class="sample">
    <h2>Sample Biodata</h2>
    <hr />
    <div
      class="sampleBiodata"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="40px"
      fxLayoutGap.xs="20px"
      fxLayoutAlign="center center"
    >
      <mat-card>
        <img src="assets/sample1.png" />
      </mat-card>
      <mat-card>
        <img src="assets/sample2.png" alt="" />
      </mat-card>
    </div>
  </section>
</section>
