<form>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Personal Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.gt-sm="40px">
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Name" />
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Date of Birth" />
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Birth Place" />
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Height" />
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Complexion" />
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Blood Group" />
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Education" />
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Occupation" />
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Hobbies" />
      </mat-form-field>
    </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Family Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>people</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.gt-sm="40px">
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Father's Name" />
      </mat-form-field>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Father's Occupation" />
      </mat-form-field>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Mother's Name" />
      </mat-form-field>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Mother's Occupation" />
      </mat-form-field>
      </div>
      <mat-action-row
        fxLayout="row"
        style="padding:10px;"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
      >
        <button mat-stroked-button fxFlex="none" (click)="(addBrother)">
          Add Brother
        </button>
        <button mat-stroked-button fxFlex="none" (click)="(addSister)">
          Add Sister
        </button>
      </mat-action-row>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Contact Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>contacts</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.gt-sm="40px">
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Residence Address" />
      </mat-form-field>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Contact #1" />
      </mat-form-field>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Contact #2" />
      </mat-form-field>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Email" />
      </mat-form-field>
    </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    
    <mat-expansion-panel
      [expanded]="step === 3"
      (opened)="setStep(3)"
      hideToggle
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Paternal Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>view_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.gt-sm="40px">
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Grand Father's Name" />
      </mat-form-field>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Grand Mother's Name" />
      </mat-form-field>
    </div>
      <mat-action-row
      fxLayout="row"
      style="padding:10px;"
      fxLayoutGap="10px"
      fxLayoutAlign="space-between center"
    >
      <button mat-stroked-button fxFlex="none" (click)="(addBrother)">
        Add Uncle
      </button>
      <button mat-stroked-button fxFlex="none" (click)="(addSister)">
        Add Aunt
      </button>
    </mat-action-row>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    
    <mat-expansion-panel
      [expanded]="step === 4"
      (opened)="setStep(4)"
      hideToggle
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Maternal Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>view_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.gt-sm="40px">
      <mat-form-field fxFlex="45%">
          <input matInput placeholder="Grand Father's Name" />
        </mat-form-field>
        <mat-form-field fxFlex="45%">
          <input matInput placeholder="Grand Mother's Name" />
        </mat-form-field>
      </div>
        <mat-action-row
        fxLayout="row"
        style="padding:10px;"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
      >
        <button mat-stroked-button fxFlex="none" (click)="(addBrother)">
          Add Uncle
        </button>
        <button mat-stroked-button fxFlex="none" (click)="(addSister)">
          Add Aunt
        </button>
      </mat-action-row>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</form>
