@import "styles";

.container {
  @include container();

  .header {
    @include header();
  }

  .forms {
    box-sizing: border-box;
    padding: 10px;
    form {
      max-width: 800px;
      margin: 20px auto;

      mat-panel-title {
        color: $subtitleColor;
        font-weight: 600;
      }

      input:not([type="email"]) {
        text-transform: capitalize;
      }
    }
  }

  .button-group > button {
    font-size: 16px;
    padding: 3px 15px;
    margin-bottom: 20px;
    @include stroked-button($secondaryColor, $secondaryColor);
    @include transition(0.5s);
    &:disabled {
      @include disabledButton();
    }
  }
}
