<div class="container">
  <section class="header"><h1>Add Details</h1></section>
  <div class="forms">
    <form #myForm="ngForm" [formGroup]="detailsForm">
      <mat-accordion>

    <!-- ############################## Personal Details ######################################### -->
        <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
      formGroupName="personal"
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Personal Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutGap="20px">
      <mat-form-field fxFlex>
        <input matInput placeholder="Name" formControlName="fullName" (blur)="logValidationMessage()">
        <mat-error>{{formErrors['fullName']}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput placeholder="Date of Birth" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (focus)="picker.open()" formControlName="birthDate" (blur)="logValidationMessage()" readonly>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error>{{formErrors['birthDate']}}</mat-error>
      </mat-form-field>
        
      <mat-form-field fxFlex>  
        <input matInput type="time" id="birthTime" formControlName="birthTime" placeholder="HH:MM" (blur)="logValidationMessage()"/>
        <mat-error>{{formErrors['birthTime']}}</mat-error>
        <mat-hint>Birth Time - 24 Hour Format</mat-hint>
      </mat-form-field>
      
    <mat-form-field fxFlex>
        <input matInput placeholder="Height" formControlName="height" (blur)="logValidationMessage()">
        <mat-hint>Format foot'inch" (e.g. 5'10")</mat-hint>
        <mat-error>{{formErrors['height']}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
          <input matInput placeholder="Birth Place" formControlName="birthPlace" (blur)="logValidationMessage()">
          <mat-error>{{formErrors['birthPlace']}}</mat-error>
        </mat-form-field>

        <!-- validation doesn't work on first time however it works from form control parent object -->
        <mat-form-field fxFlex>
          <mat-label>Select an Option</mat-label>
          <mat-select formControlName="complexion" (blur)="logValidationMessage()">
            <mat-option *ngFor="let colour of complexion" [value]="colour">{{colour | titlecase}}</mat-option>
          </mat-select>
          <mat-error>{{formErrors['complexion']}}</mat-error>
        </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput placeholder="Blood Group" formControlName="bloodGroup" (blur)="logValidationMessage()"/>
        <mat-error>{{formErrors['bloodGroup']}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
          <input matInput placeholder="Qualification" formControlName="qualification" (blur)="logValidationMessage()">
          <mat-error>{{formErrors['qualification']}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
          <input matInput placeholder="Occupation, Current City" formControlName="occupation" (blur)="logValidationMessage()">
          <mat-error>{{formErrors['occupation']}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
          <input matInput placeholder="Hobbies" formControlName="hobbies" (blur)="logValidationMessage()">
          <mat-error>{{formErrors['hobbies']}}</mat-error>
      </mat-form-field>
    </div>

      <mat-action-row>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>

    </mat-expansion-panel>

    <!-- ############################## Family Details ######################################### -->

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
      formGroupName="family"
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Family Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>people</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutGap="20px">
      <mat-form-field fxFlex>
          <input matInput placeholder="Father's Name" formControlName="fatherName" (blur)="logValidationMessage()"/>
          <mat-error>{{formErrors['fatherName']}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
          <input matInput placeholder="Father's Occupation'" formControlName="fatherOccupation" (blur)="logValidationMessage()"/>
          <mat-error>{{formErrors['fatherOccupation']}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
          <input matInput placeholder="Mother's Name" formControlName="motherName" (blur)="logValidationMessage()"/>
          <mat-error>{{formErrors['motherName']}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
          <input matInput placeholder="Mother's Occupation" formControlName="motherOccupation" (blur)="logValidationMessage()"/>
          <mat-error>{{formErrors['motherOccupation']}}</mat-error>
      </mat-form-field>

      <div formArrayName="brothers" fxFlex>
        <div *ngFor="let brother of detailsForm.get('family').get('brothers')?.controls; let i = index" formGroupName={{i}} fxLayout="column" fxLayoutGap="20px" style="margin-bottom:20px;">
          <mat-form-field fxFlex>
            <input matInput placeholder="Brother's Name" formControlName="{{'brotherName'+ i}}" (blur)="logValidationMessage()"/>
            <mat-error>{{formErrors['brotherName'+i]}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Brother's Occupation, City" formControlName="{{'brotherOccupation'+ i}}" (blur)="logValidationMessage()"/>
            <mat-hint>Alternatively you can mention his qualification</mat-hint>
            <mat-error>{{formErrors['brotherOccupation'+i]}}</mat-error>
        </mat-form-field>
        </div>
      </div>

      <div formArrayName="sisters" fxFlex>
        <div *ngFor="let sister of detailsForm.get('family').get('sisters')?.controls; let i = index" formGroupName={{i}} fxLayout="column" fxLayoutGap="20px" style="margin-bottom:20px;">
          <mat-form-field fxFlex>
            <input matInput placeholder="Sister's Name" formControlName="{{'sisterName'+ i}}" (blur)="logValidationMessage()"/>
            <mat-error>{{formErrors['sisterName'+i]}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Sister's Occupation, City" formControlName="{{'sisterOccupation'+ i}}" (blur)="logValidationMessage()"/>
            <mat-hint>Alternatively you can mention her qualification</mat-hint>
            <mat-error>{{formErrors['sisterOccupation'+i]}}</mat-error>
        </mat-form-field>
        </div>
      </div>

      </div>
      <mat-action-row
        fxLayout="row"
        style="padding:10px;"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
      >
        <button mat-stroked-button fxFlex="none" type="button" (click)="addBrother()">
          Add Brother
        </button>
        <button mat-stroked-button fxFlex="none" type="button" (click)="addSister()">
          Add Sister
        </button>
      </mat-action-row>
      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>



    <!-- ############################## Paternal Details ######################################### -->
    
    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
      formGroupName="paternal"
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Paternal Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>view_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-form-field fxFlex>
          <input matInput placeholder="GrandFather's Name" formControlName="grandfatherName" (blur)="logValidationMessage()"/>
          <mat-error>{{formErrors['grandfatherName']}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="GrandMother's Name" formControlName="grandmotherName" (blur)="logValidationMessage()"/>
            <mat-error>{{formErrors['grandmotherName']}}</mat-error>
                  </mat-form-field>
  
          <div formArrayName="uncles" fxFlex>
            <div *ngFor="let uncle of detailsForm.get('paternal').get('uncles')?.controls; let i = index" formGroupName={{i}} fxLayout="column" fxLayoutGap="20px" style="margin-bottom:10px;">
              <mat-form-field fxFlex>
                <input matInput placeholder="Uncle's Name" formControlName="{{'uncleName'+ i}}" (blur)="logValidationMessage()"/>
                <mat-hint>Chacha's Name</mat-hint>
                <mat-error>{{formErrors['uncleName'+i]}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="Uncle's Occupation, City" formControlName="{{'uncleOccupation'+ i}}" (blur)="logValidationMessage()"/>
                <mat-error>{{formErrors['uncleOccupation'+i]}}</mat-error>
            </mat-form-field>
            </div>
          </div>
  
          <div formArrayName="aunts" fxFlex>
            <div *ngFor="let aunt of detailsForm.get('paternal').get('aunts')?.controls; let i = index" formGroupName={{i}} fxLayout="column" fxLayoutGap="20px" style="margin-bottom:20px;">
              <mat-form-field fxFlex>
                <input matInput placeholder="Aunt's Name" formControlName="{{'auntName'+ i}}" (blur)="logValidationMessage()"/>
                <mat-hint>Bua's Name</mat-hint>
                <mat-error>{{formErrors['auntName'+i]}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="Aunt's Occupation, City" formControlName="{{'auntOccupation'+ i}}" (blur)="logValidationMessage()"/>
                <mat-error>{{formErrors['auntOccupation'+i]}}</mat-error>
            </mat-form-field>
            </div>
          </div>
  
        </div>
      <mat-action-row
      fxLayout="row"
      style="padding:10px;"
      fxLayoutGap="10px"
      fxLayoutAlign="space-between center"
    >
      <button mat-stroked-button fxFlex="none" type="button" matTooltip="Chacha" matTooltipPosition="above" (click)="addUncle('paternal')">
        Add Uncle
      </button>
      <button mat-stroked-button fxFlex="none" type="button" matTooltip="Bua" matTooltipPosition="above" (click)="addAunt('paternal')">
        Add Aunt
      </button>
    </mat-action-row>

      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

<!-- ############################## Maternal Details ######################################### -->
    
    <mat-expansion-panel
      [expanded]="step === 3"
      (opened)="setStep(3)"
      hideToggle
      formGroupName="maternal"
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Maternal Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>view_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutGap="20px">
      <mat-form-field fxFlex>
        <input matInput placeholder="GrandFather's Name" formControlName="grandfatherName#" (blur)="logValidationMessage()"/>
        <mat-error>{{formErrors['grandfatherName#']}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="GrandMother's Name" formControlName="grandmotherName#" (blur)="logValidationMessage()"/>
          <mat-error>{{formErrors['grandmotherName#']}}</mat-error>
                </mat-form-field>

        <div formArrayName="uncles#" fxFlex fxLayout="column" fxLayoutGap="20px">
          <div *ngFor="let uncle of detailsForm.get('maternal').get('uncles#')?.controls; let i = index" formGroupName={{i}} fxLayout="column" fxLayoutGap="20px">
            <mat-form-field fxFlex>
              <input matInput placeholder="Uncle's Name" formControlName="{{'uncleName#'+ i}}" (blur)="logValidationMessage()"/>
              <mat-hint>Mama Name</mat-hint>
              <mat-error>{{formErrors['uncleName#'+i]}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
              <input matInput placeholder="Uncle's Occupation, City" formControlName="{{'uncleOccupation#'+ i}}" (blur)="logValidationMessage()"/>
              <mat-error>{{formErrors['uncleOccupation#'+i]}}</mat-error>
          </mat-form-field>
          </div>
        </div>

        <div formArrayName="aunts#" fxFlex fxLayout="column" fxLayoutGap="20px">
          <div *ngFor="let aunt of detailsForm.get('maternal').get('aunts#')?.controls; let i = index" formGroupName={{i}} fxLayout="column" fxLayoutGap="20px">
            <mat-form-field fxFlex>
              <input matInput placeholder="Aunt's Name" formControlName="{{'auntName#'+ i}}" (blur)="logValidationMessage()"/>
              <mat-hint>Masi Name</mat-hint>
              <mat-error>{{formErrors['auntName#'+i]}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
              <input matInput placeholder="Aunt's Occupation, City" formControlName="{{'auntOccupation#'+ i}}" (blur)="logValidationMessage()"/>
              <mat-error>{{formErrors['auntOccupation#'+i]}}</mat-error>
          </mat-form-field>
          </div>
        </div>

      </div>
        <mat-action-row
        fxLayout="row"
        style="padding:10px;"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
      >
        <button mat-stroked-button fxFlex="none" type="button" matTooltip="Mama" matTooltipPosition="above" (click)="addUncle('maternal', '#')">
          Add Uncle
        </button>
        <button mat-stroked-button fxFlex="none" type="button" matTooltip="Masi" matTooltipPosition="above" (click)="addAunt('maternal', '#')">
          Add Aunt
        </button>
      </mat-action-row>
  
      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- ############################## Contact Details ######################################### -->

    <mat-expansion-panel
      [expanded]="step === 4"
      (opened)="setStep(4)"
      hideToggle
      formGroupName="contact"
    >
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex="grow">
          Contact Details
        </mat-panel-title>
        <mat-panel-description fxFlex="nogrow">
          <mat-icon>contacts</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutGap="20px">
      <mat-form-field fxFlex>
        <input matInput placeholder="Residence Address" formControlName="address" (blur)="logValidationMessage()"/>
          <mat-error>{{formErrors['address']}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="Contact #1" formControlName="contact1" (blur)="logValidationMessage()"/>
        <mat-error>{{formErrors['contact1']}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="Contact #2" formControlName="contact2" (blur)="logValidationMessage()"/>
        <mat-error>{{formErrors['contact2']}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input type="email" matInput placeholder="Email" formControlName="email" (blur)="logValidationMessage()"/>
        <mat-error>{{formErrors['email']}}</mat-error>
      </mat-form-field>
    </div>
      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</form>
</div>
<div class="button-group" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <!-- <button mat-raised-button fxFlex="none" (click)="loadData()">Load</button> for testing purpose only -->
  <button mat-stroked-button fxFlex="none" id="reset" name="reset" (click)="resetForm()">Reset</button>
  <button mat-stroked-button fxFlex="none" id="create" name="create" (click)="createBiodata()" [disabled]="isDisabled">Create</button>
</div>
</div>