mat-form-field {
  margin-right: 10px;
}

form {
  max-width: 800px;
  margin: 20px auto;
}

mat-button-toggle-group {
  height: 32px;
  align-self: center;
  align-items: center;
}

.has-error {
  background-color: antiquewhite;
}
