<!-- mat toolbar mat sidenav container mat sidenav mat sidenav content -->
<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">menu</mat-icon>
  <span>Matrimonial Biodata</span>
  <span class="toolbarSpacer"></span>
  <mat-icon class="toolbarIcon">add</mat-icon>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav
    #sidenav
    id="sideNav"
    [mode]="mode"
    [style.width.px]="sideNavWidth"
    opened="{{ isNavOpen }}"
  >
    <mat-nav-list>
      <a href="#" mat-list-item>Menu Item 1</a>
      <a href="#" mat-list-item>Menu Item 2</a>
      <a href="#" mat-list-item>Menu Item 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left.px]="contentMargin">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
