<div class="container">
  <div
    class="downloadBanner"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
  >
    <div fxFlex="none" class="label">Download</div>
    <img fxFlex="none" fxFlexAlign="end" src="assets/download.png" />
  </div>

  <!-- Loader  -->
  <div
    class="loader"
    fxLayout="row"
    fxLayoutAlign="center center"
    [fxHide]="hideLoader"
  >
    <img src="assets/loading.gif" />
  </div>
  <!-- Message -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <div
      class="info"
      fxFlex.gt-sm="70%"
      fxFlex="90%"
      [ngStyle.gt-md]="{ 'line-height.px': 32 }"
      [ngStyle.gt-xs]="{ 'line-height.px': 28 }"
    >
      Thank you for using our services for making your biodata. We are working
      towards making the website more dynamic and user-friendly. You can provide
      your valuable feedback <a href="#">here</a>. If you wish to contribute to
      us, you can do it <a href="#">here</a>.<br />
    </div>
  </div>

  <!-- Timer Message -->
  <div
    class="waitMessage"
    *ngIf="timeleft > 0"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <h3 fxFlex="70%">Your biodata will be ready in {{ timeleft }} seconds.</h3>
  </div>
</div>

<!-- biodata section and download button which appears at t=0 -->
<div *ngIf="timeleft === 0">
  <app-prepare-bio
    #htmlToConvert
    id="reqHtml"
    style="display:none;"
  ></app-prepare-bio>
</div>
