.container {
  padding: 20px;
  margin-top: 15px;
  line-height: 24px;

  .waitMessage {
    color: #666;
    text-align: center;
  }

  .downloadMessage {
    color: #256eb3;
  }

  .info {
    text-align: justify;
    color: #333;
  }

  mat-card {
    margin: 15px 0px;
    max-height: 600px;
    overflow: auto;
  }
}

button {
  background: #256eb3;
  color: #fff;
  font-size: 16px;
}

.center {
  text-align: center;
}
