<div
  class="container"
  [ngStyle.gt-md]="{ 'line-height.px': 32 }"
  [ngStyle.gt-xs]="{ 'line-height.px': 28 }"
>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="info" fxFlex.gt-sm="70%" fxFlex="90%">
      Thank you for using our services for making your biodata. We are working
      towards making the website more dynamic and user-friendly. You can provide
      your valuable feedback <a href="#">here</a>. If you wish to contribute to
      us, you can do it <a href="#">here</a>.<br />
    </div>
  </div>
  <div
    class="waitMessage"
    *ngIf="timeleft > 0"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <h3 fxFlex="70%">Your biodata will be ready in {{ timeleft }} seconds.</h3>
  </div>
</div>

<div *ngIf="timeleft === 0">
  <br />
  <hr />
  <div class="trial">
    <!-- <mat-card fxFlex="50%" fxFlex.lt-sm="100%"> -->
    <app-prepare-bio #htmlToConvert id="reqHtml"></app-prepare-bio>
    <!-- </mat-card> -->
  </div>
  <!-- <div class="center">
      <button mat-raised-button (click)="downloadPdf()">Download</button>
    </div> -->
</div>
