<div class="container">
  <div
    class="downloadBanner"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
  >
    <div fxFlex="none"><h1>Download</h1></div>
    <img fxFlex="none" fxFlexAlign="end" src="assets/download.png" />
  </div>

  <!-- Timer Message -->
  <div
    class="waitMessage"
    *ngIf="timeleft > 0"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
  >
    <div>Your biodata will be ready in</div>
    <div class="numberCircle">{{ timeleft }}</div>
    <div>seconds.</div>
  </div>

  <!-- biodata section which appears at t=0 -->
  <div *ngIf="timeleft === 0" style="display:none">
    <app-prepare-bio #htmlToConvert id="reqHtml"></app-prepare-bio>
  </div>
</div>
