@import "styles";

.container {
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  color: $subtitleColor;

  img {
    object-fit: contain;
    max-width: 100%;
  }

  button {
    @include stroked-button($secondaryColor, $secondaryColor);
    @include transition(0.5s);
  }
}
