.parent {
  border: 1px solid black;
  height: 200px;
  width: 100%;
}

.one {
  background: blue;
  padding: 20px;
}

.two {
  background: red;
  padding: 30px;
}

.three {
  background: green;
  padding: 20px;
}

.four {
  background: yellow;
  padding: 40px;
}

.five {
  background: brown;
  padding: 20px;
}
