.container {
  padding: 10px;
  background-color: rgb(235, 235, 235);
  min-height: 100%;
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  .buttonGroup > button {
    margin-bottom: 10px;
    &:hover {
      background-color: #eee;
      transition-duration: 0.4s;
    }
  }
  .selected {
    border-color: #aaa;
    background-color: #eee;
  }

  .description {
    margin: 15px 0px 0px 10px;
    font-size: 16px;
  }
  mat-panel-title,
  mat-action-row {
    color: #555;
    font-size: 16px;
    .highlight {
      font-weight: 600;
      margin-bottom: 5px;
    }
  }
}
