@import "styles";

.container {
  @include container();
  .header {
    @include header();
  }
  .details {
    padding: 10px;
    mat-panel-title,
    mat-action-row {
      color: $subtitleColor;
      font-size: 16px;
      .highlight {
        font-weight: 600;
        margin-bottom: 5px;
      }
    }

    .buttonGroup {
      button {
        margin-bottom: 10px;
        @include transition(0.4s);
        &:hover {
          background-color: $hoverColor;
        }
      }
      .selected {
        border-color: $lightgrey;
        background-color: $hoverColor;
      }
    }
  }
}
