section {
  break-before: always;
  margin-bottom: 25px;
}

.row,
.head {
  break-inside: avoid;
}

.container {
  padding: 20px 60px 30px;
  font-family: Calibri, Roboto;
  .head {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.ganeshaImg {
  padding: 0.5em 0em;
  text-align: center;
}
