<div style="border:1px solid grey">
  <div class="ganeshaImg">
    <img src="assets/ganesha.png">
  </div>
    <div class="container">
      <section>
      <div class="head">Personal Details</div>
      <div class="row" fxLayout="row">
        <div class="label" fxFlex="50%">Name</div>
        <div class="value" fxFlex="50%">{{ data?.personal.fullName | titlecase }}</div>
      </div>

        <div class="row" fxLayout="row">
            <div class="label" fxFlex="50%">Birth Details</div>
            <div class="value" fxFlex="50%">{{ data?.personal.birthDate | date: "d MMM y" }},
                {{ data?.personal.birthTime | timePipe }}</div>
          </div>

          <div class="row" fxLayout="row">
              <div class="label" fxFlex="50%">Birth Place</div>
              <div class="value" fxFlex="50%">{{ data?.personal.birthPlace | titlecase }}</div>
            </div>

            <div class="row" fxLayout="row">
                <div class="label" fxFlex="50%">Blood Group</div>
                <div class="value" fxFlex="50%">{{ data?.personal.bloodGroup | uppercase }}</div>
              </div>

              <div class="row" fxLayout="row">
                  <div class="label" fxFlex="50%">Height</div>
                  <div class="value" fxFlex="50%">{{ data?.personal.height }}</div>
                </div>
        <div class="row" fxLayout="row">
          <div class="label" fxFlex="50%">Complexion</div>
          <div class="value" fxFlex="50%">{{ data?.personal.complexion | titlecase }}</div>
        </div>
        <div class="row" fxLayout="row">
          <div class="label" fxFlex="50%">Qualification</div>
          <div class="value" fxFlex="50%">{{ data?.personal.qualification | titlecase }}</div>
        </div>
        <div class="row" fxLayout="row">
          <div class="label" fxFlex="50%">Occupation</div>
          <div class="value" fxFlex="50%">{{ data?.personal.occupation | titlecase }}</div>
        </div>
        <div class="row" fxLayout="row">
          <div class="label" fxFlex="50%">Hobbies</div>
          <div class="value" fxFlex="50%">{{ data?.personal.hobbies | titlecase }}</div>
        </div>
    </section>

   
    <section>
      <div class="head">Family Details</div>
        <div class="row" fxLayout="row">
          <div class="label" fxFlex="50%">Father</div>
          <div class="value" fxFlex="50%">
            <div> {{ data?.family.fatherName | titlecase }}</div>
              <div>{{ data?.family.fatherOccupation | capitalize }}</div>
          </div>
        </div>

        <div class="row" fxLayout="row">
          <div class="label" fxFlex="50%">Mother</div>
          <div class="value" fxFlex="50%">
            <div>{{ data?.family.motherName | titlecase }}</div>
              <div>{{ data?.family.motherOccupation | capitalize }}</div>
          </div>
        </div>
        <div *ngIf="brothers.length>0" class="row" fxLayout="row">
          <div class="label" fxFlex="50%">{{ brothers.length > 1 ? "Brothers" : "Brother" }}</div>
          <div class="value" fxFlex="50%">
                <div fxLayout="column" fxLayoutGap="5px">
                  <div *ngFor="let brother of brothers;let i = index">
                    <div>{{ brother["brotherName" + i] | titlecase }}</div>
                    <div>{{ brother["brotherOccupation" + i] | capitalize}} </div>
                  </div>
                </div>
          </div>
        </div>

        <div *ngIf="sisters.length>0" class="row" fxLayout="row">
            <div class="label" fxFlex="50%">{{ sisters.length > 1 ? "Sisters" : "Sister" }}</div>
            <div class="value" fxFlex="50%">
                  <div fxLayout="column" fxLayoutGap="5px">
                    <div *ngFor="let sister of sisters;let i = index">
                      <div>{{ sister["sisterName" + i] | titlecase }}</div>
                      <div>{{ sister["sisterOccupation" + i] | capitalize}} </div>
                    </div>
                  </div>
            </div>
          </div>
    </section>

    <section>
      <div class="head">Paternal Details</div>
      <div class="row" fxLayout="row">
          <div class="label" fxFlex="50%">GrandFather</div>
          <div class="value" fxFlex="50%">{{ data?.paternal.grandfatherName | titlecase }}</div>
        </div>
        <div class="row" fxLayout="row">
            <div class="label" fxFlex="50%">GrandMother</div>
            <div class="value" fxFlex="50%">{{ data?.paternal.grandmotherName | titlecase }}</div>
          </div>
          <div *ngIf="pUncles.length>0" class="row" fxLayout="row">
              <div class="label" fxFlex="50%">{{ pUncles.length > 1 ? "Uncles" : "Uncle" }}</div>
              <div class="value" fxFlex="50%">
                    <div fxLayout="column" fxLayoutGap="5px">
                      <div *ngFor="let uncle of pUncles;let i = index">
                        <div>{{ uncle["uncleName" + i] | titlecase }}</div>
                        <div>{{ uncle["uncleOccupation" + i] | capitalize}} </div>
                      </div>
                    </div>
              </div>
            </div>
    
            <div *ngIf="pAunts.length>0" class="row" fxLayout="row">
                <div class="label" fxFlex="50%">{{ pAunts.length > 1 ? "Aunts" : "Aunt" }}</div>
                <div class="value" fxFlex="50%">
                      <div fxLayout="column" fxLayoutGap="5px">
                        <div *ngFor="let aunt of pAunts;let i = index">
                          <div>{{ aunt["auntName" + i] | titlecase }}</div>
                          <div>{{ aunt["auntOccupation" + i] | capitalize}} </div>
                        </div>
                      </div>
                </div>
              </div>
    </section>

    <section>
        <div class="head">Maternal Details</div>
        <div class="row" fxLayout="row">
            <div class="label" fxFlex="50%">GrandFather</div>
            <div class="value" fxFlex="50%">{{ data?.maternal['grandfatherName#'] | titlecase }}</div>
          </div>
          <div class="row" fxLayout="row">
              <div class="label" fxFlex="50%">GrandMother</div>
              <div class="value" fxFlex="50%">{{ data?.maternal['grandmotherName#'] | titlecase }}</div>
            </div>
            <div *ngIf="mUncles.length>0" class="row" fxLayout="row">
                <div class="label" fxFlex="50%">{{ mUncles.length > 1 ? "Uncles" : "Uncle" }}</div>
                <div class="value" fxFlex="50%">
                      <div fxLayout="column" fxLayoutGap="5px">
                        <div *ngFor="let uncle of mUncles;let i = index">
                          <div>{{ uncle["uncleName#" + i] | titlecase }}</div>
                          <div>{{ uncle["uncleOccupation#" + i] | capitalize}} </div>
                        </div>
                      </div>
                </div>
              </div>
      
              <div *ngIf="mAunts.length>0" class="row" fxLayout="row">
                  <div class="label" fxFlex="50%">{{ mAunts.length > 1 ? "Aunts" : "Aunt" }}</div>
                  <div class="value" fxFlex="50%">
                        <div fxLayout="column" fxLayoutGap="5px">
                          <div *ngFor="let aunt of mAunts;let i = index">
                            <div>{{ aunt["auntName#" + i] | titlecase }}</div>
                            <div>{{ aunt["auntOccupation#" + i] | capitalize}} </div>
                          </div>
                        </div>
                  </div>
                </div>
      </section>
      <section>
        <div class="head">Contact Details</div>
          <div class="row" fxLayout="row">
            <div class="label" fxFlex="50%">Address</div>
            <div class="value" fxFlex="50%">{{ data?.contact.address | titlecase }}</div>
          </div>
          <div class="row" fxLayout="row">
            <div class="label" fxFlex="50%">Contact</div>
            <div class="value" fxFlex="50%">
              {{
                "+91-" +
                  data?.contact.contact1 +
                  ", " +
                  "+91-" +
                  data?.contact.contact2
              }}
            </div>
          </div>
          <div class="row" fxLayout="row">
            <div class="label" fxFlex="50%">Email Id</div>
            <div class="value" fxFlex="50%">{{ data?.contact.email }}</div>
          </div>
      </section>
    </div>
  </div>