/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 3vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 4vh;
}

h3 {
  font-size: 3vh;
}

.mat-horizontal-stepper-header {
  pointer-events: none !important;
}
